#help{
  width:auto !important;
}
#search{
  width:auto !important;
}
#shSearch{
  width:100%;
  height:100%;
}
div.card img{
  width:648px !important;
  height:648px !important;
}
img#sidney{
  width:707px !important;
  height:474px !important;
}
